.photos-sell{
display: grid;
grid-template-columns: 4fr 1fr;
}
.photos-container{
    background-color: #fff;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 50px;
    padding-top: 100px;
    
}

.cart-container{
    border: 2px solid #000;
    height: 500px;
    background-color: rgb(94, 223, 104);
    position: sticky;
    top: 20px;
    
}
